@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #F5EBE2;
  --color-primary: #34332E;
  --font-primary: "Martel Sans", sans-serif;
  --font-title: "Mate SC", serif;
}

body,
header {
  box-sizing: border-box;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: var(--font-primary);
}

header {
  font-weight: 600;
}

nav {
  max-width: 80%;
  margin: auto;
}

.home--title {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 120px;
}

.home--description {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 24px;
  background-color: var(--bg-primary);
}


.home--subtitle {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 48px;
}

.card-product-container {
  margin: 5vh auto;
}

.card-product {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh auto;
}

.card-product img {
  margin-top: 40px;
  width: 250px;
  height: 250px;
}

.card-product button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #1bcb7f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.card-product button:hover {
  opacity: 0.7;
}

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-about--images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  transition: all 1s ease;
  width: 70%;
  margin-bottom: 1rem;
}

.images-container img {
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.322);
  box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
  transition: 1s;
  border-radius: 1rem;
}

.images-container .image-3 {
  width: 20vw;
  top: 10px;
  transform: rotate(-8deg);
}

.images-container .image-2 {
  width: 20vw;
  transform: rotate(-1deg);
}

.images-container .image-1 {
  width: 20vw;
  top: 10px;
  transform: rotate(8deg);
}

.images-container .image-3:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(-8deg);
}

.images-container .image-2:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(0deg);
}

.images-container .image-1:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(9deg);
}

@keyframes cards {
  to {
    z-index: 2s ease-in-out;
  }
}

@media screen and (min-width: 768px) {

  .sunLeft--image {
    background-image: url("./covers/sun-vector--left.png");
    display: inline-block;
    width: 186px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunRight--image {
    background-image: url("./covers/sun-vector--right.png");
    display: inline-block;
    width: 186px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home--title {
    font-size: 110px;
  }

  .home--description {
    font-size: 22px;
  }

  .section-about {
    flex-direction: row;
    justify-content: center;
  }

  .section-about--images {
    display: block;
    width: 100%;
  }

  .images-container {
    position: relative;
  }

  .images-container img {
    position: absolute;
  }

  .images-container:nth-child(1) img {
    left: 28px;
  }

  .images-container:nth-child(2) img {
    left: 70px;
  }

  .images-container:nth-child(3) img {
    left: 95px;
  }
}