@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #F5EBE2;
  --bg-white: #fff7f7;
  --bg-button: #6143A4;
  --bg-button-hover: #6243a4cb;
  --color-primary: #34332E;
  --color-button: #F5EBE2;
  --color-menu: #CE9647;
  --font-primary: "Martel Sans", sans-serif;
  --font-title: "Mate SC", serif;
}

html {
  box-sizing: border-box;
  margin: 0;
}

body,
header {
  background-color: var(--bg-white);
  color: var(--color-primary);
  font-family: var(--font-primary);
}

header {
  font-weight: 600;
  background-color: var(--bg-primary);
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  box-shadow: -25px 28px 25px -33px rgb(212, 212, 212);
}

nav {
  max-width: 80%;
  margin: auto;
}

.navbar-principal li {
  margin-top: 0.5rem;
  transition: all 0.8s ease;
}

.navbar-principal li:hover {
  color: var(--color-menu);
}

.navbar--logo {
  width: 110px;
  padding: 0.5rem;
}

.navbar--button {
  background-color: transparent;
  color: var(--color-menu);
}

.navbar--button:hover {
  background-color: transparent;
}

.section-home {
  background-image: url("./covers/sun-vector--left.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--bg-primary);
}

.section-home--title {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 110px;
}

.section-home--description {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 20px;
  background-color: var(--bg-primary);
}

button {
  background-color: var(--bg-button);
  padding: 1rem 0.8rem 0.8rem 0.8rem;
  border-radius: 2rem;
  color: var(--color-button);
  font-weight: 600;
  font-size: 15px;
  transition: all 1s ease;
}

button:hover {
  background-color: var(--bg-button-hover);
}

.card-service--message {
  text-align: center;
  margin-top: 30px;
  padding: 0 1rem;
}

.card-service--container {
  margin: 5vh auto;
  padding: 0;
  background-image: url("./covers/sun-vector--left.png");
  background-repeat: no-repeat;
}

.card-service--data {
  margin: auto;
}

.card-service {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh auto;
}

/* .card-service img {
  width: 250px;
  height: 250px;
  padding: 10px;
} */

.card-service--text-container {
  padding: 20px;
}

.card-service--title {
  font-family: var(--font-title);
  font-size: 32px;
}

.card-service--price {
  font-family: var(--font-title);
  font-size: 1.5em;
  font-weight: 700;
}

.card-service button:hover {
  opacity: 0.7;
}

.big-image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.card-service--img-container {
  cursor: pointer;
}

.small-images img {
  border-radius: 1rem;
}

.small-images .card-service--img-container-1 {
  grid-column: 1 / span 1;
  width: 100%;
}

.small-images .card-service--img-container-2 {
  grid-column: 2 / span 1;
  width: 100%;
}

.small-images .card-service--img-container-3 {
  grid-column: 3 / span 1;
  width: 100%;
}

.small-images .card-service--img-container-1:hover,
.small-images .card-service--img-container-2:hover,
.small-images .card-service--img-container-3:hover {
  opacity: 80%;
  transition: all 0.8s ease;
  cursor: pointer;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 1rem;
}

.big-image {
  grid-column: 1;
  grid-row: 1;
}

.small-images {
  gap: 5px;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.section-about,
.section-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--bg-white);
}

.section-about--container {
  background-color: var(--bg-white);
  position: relative;
}

.section-about--subtitle {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 48px;
}

.section-about--text p {
  margin-bottom: 1rem;
}

.section-about--images {
  background-color: var(--bg-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  transition: all 1s ease;
  width: 70%;
  margin-bottom: 1rem;
}

.section-about--stars-left {
  background-image: url("./covers/stars--left.png");
  display: inline-block;
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -25px;
  left: 0;
}

.section-about--stars-right {
  background-image: url("./covers/stars--right.png");
  display: inline-block;
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.images-container img {
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.322);
  box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
  transition: 1s;
  border-radius: 1rem;
}

.images-container .image-3 {
  width: 25vw;
  top: 10px;
  transform: rotate(-8deg);
}

.images-container .image-2 {
  width: 25vw;
  transform: rotate(-1deg);
}

.images-container .image-1 {
  width: 25vw;
  top: 10px;
  transform: rotate(8deg);
}

.images-container .image-3:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(-8deg);
}

.images-container .image-2:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(0deg);
}

.images-container .image-1:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(9deg);
}

@keyframes cards {
  to {
    z-index: 2s ease-in-out;
  }
}

.section-services--subtitle,
.section-reiki--subtitle {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 40px;
  margin: 10px auto;
  max-width: 300px;
  margin-bottom: 20px;
}

.card-service--img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-service--img-container img {
  width: 100%;
  border-radius: 40px;
}

.card-service--title {
  border-bottom: 1px var(--color-primary) solid;
}

.card-service--price {
  text-align: left;
  padding: 10px 0;
}

.card-service--description {
  text-align: left;
  padding: 0 5px 15px 0;
}

.card-service--button {
  display: flex;
  justify-content: flex-end;
}

.card-service--button button {
  border: none;
  outline: 0;
  margin-top: 10px;
  padding: 15px 10px 10px 10px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}

.card-image {
  width: 100%;
  border-radius: 40px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: var(--font-title);
  border-bottom: 1px var(--color-primary) solid;
}

.card-text {
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.card-link {
  background-color: var(--bg-button);
  color: var(--color-button);
  padding: 1rem;
  border-radius: 2rem;
  transition: all 0.5s ease;
}

.card-link:hover {
  background-color: var(--bg-button-hover);
}


.card-message--container {
  padding-top: 10px;
}

.card-message {
  font-size: 0.9em;
  margin-bottom: 0.2rem;
}

.card-content--price-container {
  padding: 3px 0 10px 0;
}

.card-price--span {
  font-family: var(--font-title);
  font-size: 1.5em;
  font-weight: 700;
}

.card-content--link-container {
  display: flex;
  justify-content: flex-end;
}

.card-content--link-container a {
  color: var(--bg-button);
  font-weight: 700;
  transition: all 0.5s ease;
  padding-right: 0.5rem;
}

.card-content--link-container a:hover {
  color: var(--bg-button-hover);
  font-weight: 700;
}

.section-reiki {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--bg-primary);
  padding: 3rem 0.5rem;
}

.section-reiki--container {
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-reiki--container-subtitle {
  margin-top: -35px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.section-reiki--subtitle {
  background-color: var(--bg-primary);
  padding: 0 0.5rem;
}

.section-reiki--img img {
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-reiki--text p {
  margin-bottom: 0.5rem;
}

.section-reiki--text p:last-child {
  margin-bottom: 0;
}

.section-about--stars-left-dark {
  background-image: url("./covers/stars--left-dark.png");
  display: inline-block;
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25px;
  left: 5px;
}

.section-about--stars-right-dark {
  background-image: url("./covers/stars--right-dark.png");
  display: inline-block;
  width: 30px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 12px;
  right: 5px;
  margin-bottom: 2rem;
}

.section-newsLetter {
  background-image: url("./covers/banner--newsletter-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-newsLetter--container {
  padding: 20px;
  text-align: center;
  background-color: #f5ebe2bb;
  width: fit-content;
  margin: auto;
}

.section-newsLetter--subtitle {
  font-family: var(--font-title);
  color: var(--bg-button);
  font-size: 32px;
  text-align: center;
}

.section-newsLetter--text {
  font-weight: 600;
}

.section-newsLetter--form {
  margin: 16px auto;
}

.section-newsLetter--button {
  background-color: var(--bg-button);
  box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
}

footer {
  width: 100%;
  font-family: var(--font-title);
  text-transform: uppercase;
  height: fit-content;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.322);
}

.footer--img {
  max-width: 120px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.footer--contact ul {
  display: flex;
  justify-content: flex-end;
}

.footer--contact-icon {
  width: 40px;
  padding: 6px 2px;
}

@media screen and (min-width: 768px) {

  .sunLeft--image {
    background-image: url("./covers/sun-vector--left.png");
    display: inline-block;
    width: 186px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunRight--image {
    background-image: url("./covers/sun-vector--right.png");
    display: inline-block;
    width: 186px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home--title {
    font-size: 110px;
  }

  .home--description {
    font-size: 22px;
  }

  .section-about,
  .section-services {
    flex-direction: row;
    justify-content: center;
  }

  .section-about--images {
    display: block;
    width: 100%;
  }

  .images-container {
    position: relative;
  }

  .images-container img {
    position: absolute;
  }

  .images-container:nth-child(1) img {
    left: 28px;
  }

  .images-container:nth-child(2) img {
    left: 70px;
  }

  .images-container:nth-child(3) img {
    left: 95px;
  }

  .card {
    max-width: 280px;
  }

  .section-newsLetter--container {
    border-radius: 1rem;
  }

  .section-newsLetter--subtitle {
    font-size: 40px;
  }

  .section-newsLetter--text {
    font-size: 18px;
  }

  footer {
    padding: 40px;
  }

  .footer--img {
    max-width: 130px;
  }

  .footer--contact-icon {
    padding: 10px 2px;
  }

  .card {
    min-width: 320px;
  }

  .card-service--container {
    min-height: 500px;

  }

  .card-service--data {
    display: flex;
    max-width: 70%;
    max-height: 700px
  }

  .card-service--img-container img {
    width: 100%;
    border-radius: 40px;
  }

  .section-reiki {
    padding: 3rem;
  }

}

@media screen and (min-width: 1024px) {
  .section-about--stars-left {
    top: 5px;
    left: -35px;
  }

  .section-about--stars-right {
    bottom: 100px;
    right: -125px;
  }
}